body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: "Lucida Console", Monaco, monospace;
}

html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-color: black;
}

.container {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.slidercontainer, .canvascontainer {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

.canvascontainer {
    padding: 0px;
    margin: 0px;
    width: 79%;
    height: 100%;
}

.slidercontainer {
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    width: 20%;
    height: 100%;
}

.slidercontainer input {
    width: 100%;
}

.slidercontainer div {
    padding: 0px;
}

.urlDiv div {
    padding: 3px;
}

.urlDiv .urlBtn {
    width: 25%;
}

.canvas {
    width: 100%;
    height: 100%;
    margin-bottom: -3px;
    padding: 0px;
}